rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{noteId} {
      allow read, update, delete: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId
        && request.resource.data.title is string
        && request.resource.data.hashtags is list;
    }

    match /categories/{categoryId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
